<template>
    <button 
    class="py-2 px-3 border border-b-4 border-r-2 rounded-lg transition-colors hover:bg-blue-100 hover:border-blue-400 cursor-default"
    v-text="text"
    />
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
export default defineComponent({
    props: {
        text: {
            type: String as PropType<string>
        }
    }
})

</script>