<template>
    <section class="flex flex-col justify-center text-center">
        <p class="text-3xl"> 
            <strong>Counter:</strong><span class="text-5xl">{{ counter }}</span>
        </p>
        <strong class="text-3xl">Counter x2: {{ computedCounter }}</strong>
        <strong class="text-3xl">{{ text }}</strong>
        <custom-button 
        text="set to Zero" 
        @click="setToZero"
        />
        <div class="flex justify-around">
            <custom-button text="-" @click="decrease"/>
            <custom-button text="+" @click="increase"/>
        </div>
    </section>
</template>

<script setup lang="ts">
import { onMounted, ref, computed, watch } from 'vue';
import { storeToRefs } from 'pinia'
import { counterStore } from '../pinia/counter_store'

onMounted(() => {
    console.log('ha cargado el componente');
})

const text = ref('')
const { counter } = storeToRefs(counterStore())
const { decrease, increase } = counterStore()

const computedCounter = computed({
    get(){
        return counter.value * 2
    },
    set(val){
        counter.value = val
    }
}) 

watch(counter, () => {
    if(counter.value >= 5){
        text.value = 'El contador a llegado a 5' 
    }else{
        text.value = ''
    }
}) 

const setToZero = () => {
    computedCounter.value = 0
}

</script>