<template>
    <div class="flex justify-center flex-col">
        <div class="flex justify-center card">
            <p class="shadow-xl text-center mb-1 w-fit p-6 rounded">
                <strong class="text-3xl">{{ NumberTrivia.number }}</strong> -
                <span class="text-2xl font-bold underline pr-5">{{ NumberTrivia.text }}</span>
                <el-button class="shadow-lg" size="large" color="#683789" @click="getRandomNumber">randomize</el-button>
            </p>
        </div>
        <label class="text-gray text-center text-5xl">Fecha {{ dayjs().format('DD MMM. YYYY') }} {{ time }}</label>
    </div>
</template>

<script setup lang="ts">
import dayjs from 'dayjs'
import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { triviaStore } from '../pinia/number_trivia_store'; 
const { NumberTrivia } = storeToRefs(triviaStore())
const { getRandomNumber } = triviaStore()

const time = ref(dayjs().format('HH:mm:ss'));
setInterval(() => time.value = dayjs().format('HH:mm:ss'), 1000);
</script>