<template>
    <div>
        <div class="flex justify-around">
            <router-link :to="{name: 'counter'}">
                <custom-button text="Ir a Counter"/>
            </router-link>
            <router-link :to="{name: 'number-trivia'}">
                <custom-button text="Ir a Number trivia"/>
            </router-link>
        </div>
        <div class="container m-auto w-fit">
            <router-view/>
        </div>
    </div>
</template>

<script setup lang="ts">
</script>